@model SensorStoreViewModel

@if (!Model.Sensors.Any())
{
	<h2>No sensors</h2>
}
else
{
	<div id="sensor-cards">
		<partial name="_SensorsTable" model="@Model.Sensors" />
	</div>

	var prevDisabled = !Model.Sensors.HasPreviousPage ? "disabled" : string.Empty;
	var nextDisabled = !Model.Sensors.HasNextPage ? "disabled" : string.Empty;
	// string measureTypeFilter = null;

	@*<div class="table-data__tool-right">
		<a class="btn btn-primary btn-sm @prevDisabled paginated-sensors" data-toggle="tooltip" data-placement="top" title="Previious page">
			<div class="white-color">Previous</div>
		</a>
		<a id="nextPageBtn" class="btn btn-primary btn-sm @nextDisabled paginated-sensors" data-toggle="tooltip" data-placement="top" title="Next page">
			<div class="white-color">Next</div>
		</a>
	</div>*@
}
@section Scripts
{
	<script>
		$().ready(function () {
			$("#nextPageBtn").click(function () {
				$.ajax({
					type: "GET",
					url: '@Url.Action("ReloadSensorsTable", "SensorStore")',
					dataType: "html",
					success: function (response) {
						$("#sensor-cards").html(response);
					}
				});
			})
		});
	</script>
}