@model SensorStoreViewModel

@if (!Model.Sensors.Any())
{
	<h2>No sensors</h2>
}
else
{
	<div class="section__content section__content--p30">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- DATA TABLE -->
					<div class="table-data__tool">
						<div class="table-data__tool-left">
							<div class="rs-select2--light rs-select2--md">
								<span>&nbsp;Filter by Sensor Measure Type</span>
								<select class="js-select2" name="property" asp-for="MeasureTypeId" asp-items="Model.MeasureTypes">
									<option value="null">-- All --</option>
								</select>
								<div class="dropDownSelect2"></div>
							</div>
							<div class="rs-select2--light rs-select2--md">
								<span>&nbsp;Filter by Sensor Measure Type</span>
								<select class="js-select2" name="property" asp-for="MeasureTypeId" asp-items="Model.MeasureTypes">
									<option value="null">-- All --</option>
								</select>
								<div class="dropDownSelect2"></div>
							</div>
						</div>
					</div>
					<div id="sensorsTable">
						<partial name="_SensorsTable" model="@Model.Sensors" />
					</div>
					<div class="table-data__tool-right">
						<a class="btn btn-primary btn-sm @(Model.Sensors.Count() <= 4 ? "disabled" : string.Empty)" data-toggle="tooltip" data-placement="top" title="Use">
							<div class="white-color">Previous</div>
						</a>
						<a class="btn btn-primary btn-sm @(Model.Sensors.Count() <= 4 ? "disabled" : string.Empty)" data-toggle="tooltip" data-placement="top" title="Use">
							<div class="white-color">Next</div>
						</a>
					</div>
					<!-- END DATA TABLE -->
				</div>
			</div>
		</div>
	</div>
}
