<header class="header-desktop3 d-none d-lg-block">
	<div class="section__content section__content--p35">
		<div class="header3-wrap">
			<div class="header__logo">
				<a asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/lib/cool-admin/images/icon/logo-white.png" alt="CoolAdmin" />
				</a>
			</div>
			<partial name="_DesktopNavBar" />
		</div>
	</div>
</header>