<div class="header__navbar">
	@if (User.Identity.IsAuthenticated)
	{
		<ul class="list-unstyled">
			<li class="has-sub">
				<a asp-area="" asp-controller="SensorStore" asp-action="Index">
					<i class="fas fa-shopping-cart"></i>Sensors Store
					<span class="bot-line"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fas fa-tachometer-alt"></i>
					<span class="bot-line"></span>My Sensors
				</a>
			</li>
			<li>
				<a href="table.html">
					<i class="fas fa-user"></i>
					<span class="bot-line"></span>About
				</a>
			</li>
			@if (User.IsInRole(Constants.AdminRoleName))
			{
				<li class="has-sub">
					<a href="#">
						<i class="fas fa-wrench"></i>
						<span class="bot-line"></span>Admin
					</a>
					<ul class="header3-sub-list list-unstyled">
						<li>
							<a asp-area="@Constants.AdminAreaName" asp-controller="SensorStore" asp-action="Manage">
								Manage Store
							</a>
						</li>
						<li>
							<a href="register.html">Manage Users</a>
						</li>
					</ul>
				</li>
			}
		</ul>
	}
</div>
<div class="header__tool">
	<partial name="_DesktopLoginPartial" />
</div>